.container{
  margin: 200px;
  margin-left: 23%;
}

*{
  margin: 5px;
}

.column-izq, .column-center, .column-der{
  float: left;
}

.der{
  float: left;
}

.izq {
  display: flex;
  flex-direction: column;
}

.column-center{
  display: flex;
  flex-direction: column;
}

button{
  margin: 5px;
}

.botones{
  background-color: blue;
  color: white;
  justify-content: space-between;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}